{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Restablecer Contraseña</h1>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="card-text text-center">¿Olvidaste tu contraseña? Ingresa tu correo electrónico a continuación y te enviaremos un correo electrónico para que puedas restablecerla.</p>
                    <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Restablecer mi contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}